<div [formGroup]="form()" class="space-y-4 sm:space-y-6">
  <div hlmCard>
    <div hlmCardHeader>
      <div hlmCardTitle class="text-lg sm:text-xl text-primary">Business Information</div>
      <div hlmCardDescription>Tell us about your business and where it's located.</div>
    </div>
    <div hlmCardContent class="space-y-3 sm:space-y-4">
      <div class="bg-muted/40 border-l-4 border-primary p-3 sm:p-4 rounded-r-lg">
        <p class="text-sm sm:text-base text-muted-foreground">
          This form is designed to help
          <span class="font-semibold text-primary">{{ partnerName() }}</span>
          collect important information about your business for the
          <span class="font-semibold text-primary">Better Business Bureau® (BBB)</span>. The details
          you provide will allow us to understand your business and determine if you may be ready
          for BBB Accreditation. Please note: completing this form does not constitute an
          application for Accreditation, nor does it guarantee approval. Instead, this information
          helps us evaluate whether your business meets BBB's standards for trust, ethics, and
          marketplace integrity.
        </p>
      </div>
      <hlm-form-field>
        <label hlmLabel>Business Name *</label>
        <input hlmInput type="text" placeholder="ABC Roofing Inc." formControlName="businessName" />
        <hlm-error>Business name is required</hlm-error>
      </hlm-form-field>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Business Address *</label>
          <input hlmInput placeholder="123 Main St" formControlName="businessAddress" />
          <hlm-error>Business address is required</hlm-error>
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>Business Apt/Suite Number</label>
          <input hlmInput placeholder="Apt 2B, Suite 100" formControlName="businessAptSuite" />
        </hlm-form-field>
      </div>

      <hlm-form-field>
        <label hlmLabel>Business City *</label>
        <input hlmInput placeholder="Los Angeles" formControlName="businessCity" />
        <hlm-error>City is required</hlm-error>
      </hlm-form-field>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Business State *</label>
          <brn-select
            class="inline-block w-full"
            placeholder="Select a state"
            formControlName="businessState"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content class="max-h-56">
              @for (state of states; track $index) {
              <hlm-option value="{{ state }}">{{ state }}</hlm-option>
              }
            </hlm-select-content>
          </brn-select>

          <hlm-error>State is required</hlm-error>
          <hlm-hint class="italic text-xs"
            >If your primary business address is a mailbox, virtual office or co-working space, our
            vetting team will reach out to you for a physical address.</hlm-hint
          >
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>Business ZIP Code *</label>
          <input type="number" hlmInput placeholder="90001" formControlName="businessZip" />
          <hlm-error>ZIP Code is required</hlm-error>
          <hlm-hint class="italic text-xs"
            >If your primary business address is a mailbox, virtual office or co-working space, our
            vetting team will reach out to you for a physical address.</hlm-hint
          >
        </hlm-form-field>
      </div>

      <hlm-form-field>
        <label hlmLabel>Doing Business As (DBA)</label>
        <input hlmInput placeholder="ABC Contractors" formControlName="doingBusinessAs" />
      </hlm-form-field>

      <!-- Mailing Address Section -->
      <div class="space-y-3 sm:space-y-4">
        <div class="flex items-center space-x-2">
          <hlm-checkbox formControlName="sameAsBusinessAddress" />
          <label hlmLabel class="text-sm font-medium text-gray-700">
            Use business address as mailing address
          </label>
        </div>

        @if (!form().get('sameAsBusinessAddress')?.value) {
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
          <hlm-form-field>
            <label hlmLabel>Mailing Address *</label>
            <input hlmInput placeholder="PO Box 456" formControlName="mailingAddress" />
            <hlm-error> Mailing address is required </hlm-error>
          </hlm-form-field>

          <hlm-form-field>
            <label hlmLabel>Mailing Apt/Suite Number</label>
            <input hlmInput placeholder="Apt 2B, Suite 100" formControlName="mailingAptSuite" />
          </hlm-form-field>
        </div>

        <hlm-form-field>
          <label hlmLabel>Mailing City *</label>
          <input hlmInput placeholder="Los Angeles" formControlName="mailingCity" />
          <hlm-error> City is required </hlm-error>
        </hlm-form-field>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
          <hlm-form-field>
            <label hlmLabel>Mailing State *</label>
            <brn-select
              class="inline-block w-full"
              placeholder="Select a state"
              formControlName="mailingState"
            >
              <hlm-select-trigger class="w-full">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content class="max-h-56">
                @for (state of states; track $index) {
                <hlm-option value="{{ state }}">{{ state }}</hlm-option>
                }
              </hlm-select-content>
            </brn-select>

            <hlm-error> State is required </hlm-error>
          </hlm-form-field>
          <hlm-form-field>
            <label hlmLabel>Mailing ZIP Code *</label>
            <input type="number" hlmInput placeholder="90001" formControlName="mailingZip" />
            <hlm-error> ZIP Code is required </hlm-error>
          </hlm-form-field>
        </div>
        }
      </div>

      <!-- Multiple Locations Section -->
      <div class="space-y-3 sm:space-y-4">
        <div class="flex items-center space-x-2">
          <hlm-checkbox formControlName="hasMultipleLocations" />
          <label hlmLabel class="text-sm font-medium text-gray-700">
            This business has more than 1 location.
          </label>
        </div>

        @if (form().get('hasMultipleLocations')?.value) {
        <hlm-form-field>
          <label hlmLabel
            >How many locations would you like to be considered for BBB Accreditation? *</label
          >
          <input
            type="number"
            hlmInput
            placeholder="Enter number of locations"
            formControlName="numberOfLocations"
          />
          <hlm-error>Number of locations is required</hlm-error>
        </hlm-form-field>
        }
      </div>
    </div>
  </div>
</div>
