<div class="space-y-4 sm:space-y-6">
  <div hlmCard>
    <div hlmCardHeader>
      <div hlmCardTitle class="text-lg sm:text-xl text-primary">Business Contact Information</div>
      <div hlmCardDescription>Primary business contact details and communication preferences.</div>
    </div>
    <div hlmCardContent class="space-y-3 sm:space-y-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Primary Business Phone *</label>
          <input hlmInput placeholder="(555) 123-4567" formControlName="primaryBusinessPhone" />
          <hlm-error>Primary business phone is required</hlm-error>
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>Primary Business Email *</label>
          <input
            hlmInput
            placeholder="info@abcroofing.com"
            type="email"
            formControlName="primaryBusinessEmail"
          />
          <hlm-error>Primary business email is required</hlm-error>
        </hlm-form-field>
      </div>

      <hlm-form-field>
        <label hlmLabel>Request Quote Email *</label>
        <input
          hlmInput
          placeholder="quotes@abcroofing.com"
          type="email"
          formControlName="requestQuoteEmail"
        />
        <hlm-error>Request quote email is required</hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <label hlmLabel>Website</label>
        <input
          hlmInput
          placeholder="https://www.abcroofing.com"
          type="url"
          formControlName="website"
        />
        <hlm-error>Website is required</hlm-error>
      </hlm-form-field>
    </div>
  </div>

  <div hlmCard>
    <div hlmCardHeader>
      <div hlmCardTitle class="text-lg">Primary Contact Person</div>
      <div hlmCardDescription>Main point of contact for your business.</div>
    </div>
    <div hlmCardContent class="space-y-3 sm:space-y-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Full Name *</label>
          <input hlmInput placeholder="John Doe" formControlName="primaryContactName" />
          <hlm-error>Full name is required</hlm-error>
        </hlm-form-field>

        <hlm-form-field>
          <label hlmLabel>Title *</label>
          <input hlmInput placeholder="Owner" formControlName="primaryTitle" />
          <hlm-error>Title is required</hlm-error>
        </hlm-form-field>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <div>
          <label for="primaryDateOfBirth" hlmLabel class="px-1">Date of birth</label>
          <hlm-date-picker
            class="w-full mt-1"
            [min]="minDate"
            formControlName="primaryDateOfBirth"
            [autoCloseOnSelect]="true"
          >
            <span>Pick a date</span>
          </hlm-date-picker>
        </div>
        <hlm-form-field>
          <label hlmLabel>Contact Email *</label>
          <input
            hlmInput
            placeholder="john@abcroofing.com"
            type="email"
            formControlName="primaryContactEmail"
          />
          <hlm-error>Contact email is required</hlm-error>
        </hlm-form-field>
      </div>

      <hlm-form-field>
        <label hlmLabel>Contact Phone Number *</label>
        <input hlmInput placeholder="(555) 987-6543" formControlName="primaryContactNumber" />
        <hlm-error>Contact phone number is required</hlm-error>
      </hlm-form-field>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Preferred Contact Methods *</label>
          <brn-select
            class="inline-block w-full"
            placeholder="Select some methods"
            [multiple]="true"
            formControlName="preferredContactMethod"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="Email">Email</hlm-option>
              <hlm-option value="Phone">Phone</hlm-option>
              <hlm-option value="Text">Text</hlm-option>
              <hlm-option value="Mail">Mail</hlm-option>
            </hlm-select-content>
          </brn-select>
          <hlm-error>Preferred contact methods are required</hlm-error>
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>Primary Delegation Tasks *</label>
          <brn-select
            class="inline-block w-full"
            placeholder="Select some tasks"
            [multiple]="true"
            formControlName="primaryDelegationTasks"
          >
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option value="Accounting">Accounting</hlm-option>
              <hlm-option value="Payroll">Payroll</hlm-option>
              <hlm-option value="Tax">Tax</hlm-option>
            </hlm-select-content>
          </brn-select>
          <hlm-error>Primary delegation tasks are required</hlm-error>
        </hlm-form-field>
      </div>
    </div>
  </div>

  <div hlmCard>
    <div hlmCardHeader>
      <div hlmCardTitle class="text-lg">Secondary Contact (Optional)</div>
      <div hlmCardDescription>Additional contact person for your business operations.</div>
    </div>
    <div hlmCardContent class="space-y-3 sm:space-y-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 sm:gap-4">
        <hlm-form-field>
          <label hlmLabel>Full Name</label>
          <input hlmInput placeholder="Jane Smith" formControlName="secondaryContactName" />
          <hlm-error>Full name is required</hlm-error>
        </hlm-form-field>
        <hlm-form-field>
          <label hlmLabel>Email</label>
          <input
            hlmInput
            placeholder="jane@abcroofing.com"
            type="email"
            formControlName="secondaryEmail"
          />
          <hlm-error>Email is required</hlm-error>
        </hlm-form-field>
      </div>
      <hlm-form-field>
        <label hlmLabel>Phone Number</label>
        <input hlmInput placeholder="(555) 222-3333" formControlName="secondaryPhone" />
        <hlm-error>Phone number is required</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <label hlmLabel>Secondary Delegation Tasks</label>
        <brn-select
          class="inline-block w-full"
          placeholder="Select some tasks"
          [multiple]="true"
          formControlName="secondaryDelegationTasks"
        >
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="Marketing">Marketing</hlm-option>
            <hlm-option value="Customer Service">Customer Service</hlm-option>
            <hlm-option value="Inventory">Inventory</hlm-option>
            <hlm-option value="Scheduling">Scheduling</hlm-option>
            <hlm-option value="Research">Research</hlm-option>
          </hlm-select-content>
        </brn-select>
        <hlm-error>Secondary delegation tasks are required</hlm-error>
      </hlm-form-field>
    </div>
  </div>
</div>
