@import '@angular/cdk/overlay-prebuilt.css';
@import 'highlight.js/styles/atom-one-dark.css';

/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --font-sans: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  --background: 0deg 0% 99%; /* bbb-gray-10 */
  --foreground: 38deg 8% 17%; /* bbb-black */

  --card: 0deg 0% 100%;
  --card-foreground: 38deg 8% 17%;

  --popover: 0deg 0% 100%;
  --popover-foreground: 38deg 8% 17%;

  --primary: 195deg 100% 27%; /* bbb-blue-brand */
  --primary-foreground: 0deg 0% 100%;

  --secondary: 0deg 0% 95%; /* bbb-gray-30 */
  --secondary-foreground: 38deg 8% 17%;

  --muted: 120deg 1% 92%; /* bbb-gray-40 */
  --muted-foreground: 240deg 3% 34%; /* bbb-gray-70 */

  --accent: 189deg 100% 42%; /* bbb-blue-light */
  --accent-foreground: 38deg 8% 17%;

  --destructive: 347deg 93% 39%; /* bbb-red-light */
  --destructive-foreground: 0deg 0% 100%;

  --success: 157deg 100% 29%; /* bbb-green-base */
  --success-foreground: 0deg 0% 100%;

  --border: 60deg 1% 89%; /* bbb-gray-45 */
  --input: 60deg 1% 89%; /* bbb-gray-45 */
  --ring: 191deg 100% 30%; /* bbb-blue-medium */

  --radius: 0.625rem;
}

:root.dark {
  color-scheme: dark;

  --background: 218deg 100% 21%; /* bbb-blue-dark */
  --foreground: 0deg 0% 100%;

  --card: 218deg 100% 21%; /* bbb-blue-dark */
  --card-foreground: 0deg 0% 100%;

  --popover: 218deg 100% 21%; /* bbb-blue-dark */
  --popover-foreground: 0deg 0% 100%;

  --primary: 189deg 100% 42%; /* bbb-blue-light */
  --primary-foreground: 0deg 0% 100%;

  --secondary: 240deg 3% 34%; /* bbb-gray-70 */
  --secondary-foreground: 0deg 0% 100%;

  --muted: 180deg 2% 61%; /* bbb-gray-60 */
  --muted-foreground: 0deg 0% 100%;

  --accent: 194deg 66% 38%; /* bbb-blue-medium-87 */
  --accent-foreground: 0deg 0% 100%;

  --destructive: 347deg 93% 39%; /* bbb-red-light */
  --destructive-foreground: 0deg 0% 100%;

  --success: 157deg 100% 29%; /* bbb-green-base */
  --success-foreground: 0deg 0% 100%;

  --border: 240deg 3% 34%; /* bbb-gray-70 */
  --input: 240deg 3% 34%; /* bbb-gray-70 */
  --ring: 189deg 100% 42%; /* bbb-blue-light */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

input::placeholder,
textarea::placeholder {
  color: hsl(0deg 0% 80%) !important; /* Pure light gray */
}
